name: IPSW Extraction Workflow

on:
  workflow_dispatch:

jobs:
  extract:
    runs-on: macos-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Tools
      run: |
        brew install ipsw
        brew tap excitedplus1s/repo
        brew install excitedplus1s/repo/jtool2 || true

    - name: Download IPSW (Direct URL)
      run: |
        mkdir -p firmware
        curl -L \
        "https://updates.cdn-apple.com/2025SummerFCS/fullrestores/082-98952/853D36FA-A5F4-4B75-B5F3-8D38430F6132/iPhone17,3_18.6_22G86_Restore.ipsw" \
        -o firmware/iPhone17,3_18.6_22G86_Restore.ipsw
        ls -lh firmware

    - name: Extract Kernel
      run: |
        mkdir -p kit/kernel
        ipsw extract \
          --kernel firmware/iPhone17,3_18.6_22G86_Restore.ipsw \
          -o kit/kernel

    - name: Kernel Symbolicate
      run: |
        # Use the extracted kernel folder as signatures
        mkdir -p sigs
        cp -R kit/kernel/* sigs/

        ipsw kernel symbolicate \
          --signatures sigs \
          firmware/iPhone17,3_18.6_22G86_Restore.ipsw \
          -o kit/kernel

        ipsw kernel kexts firmware/iPhone17,3_18.6_22G86_Restore.ipsw > kit/kernel/kexts.txt
        ipsw kernel syscall firmware/iPhone17,3_18.6_22G86_Restore.ipsw > kit/kernel/syscalls.txt

        ipsw kernel dec \
          firmware/iPhone17,3_18.6_22G86_Restore.ipsw \
          -o kit/kernel/kernel.decompressed

    - name: Extract dyld_shared_cache
      run: |
        mkdir -p kit/dyld
        ipsw dyld extract \
          firmware/iPhone17,3_18.6_22G86_Restore.ipsw \
          -o kit/dyld

    - name: Package output
      run: |
        tar -czf ipsw_out.tgz kit/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ipsw-out
        path: ipsw_out.tgz
